@import url("../css2");
@import url("../css2-1");
@import url("../css2-2");

* {
  margin: 0;
}

.background,
.displayrow,
.row,
.image,
.info,
.manager,
.disinfo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.displayrow {
  display: flex;
  flex-direction: column;
  width: 1144px;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
}

.row {
  display: flex;
  flex-direction: column;
  height: 350px;
  top: 35%;
  text-align: center;
}

.image {
  width: 350px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 30px;
}

.info {
  position: absolute;
  right: 0px;
  width: 494px;
  padding-left: 410px;
  padding-right: 30px;
  margin-top: 30px;
}

.buttons {
  margin-top: 40px;
}

h1 {
  padding-left: 20px;
  font-family: Raleway, Arial, sans-serif;
  font-size: 60px;
  color: #ffffff;
  text-align: left;
  font-weight: 300;
}

h2 {
  font-size: 18px;
}

p {
  margin: 0, 0, 10px;
  margin-right: 20px;
}

.button {
  border-radius: 50px;
  padding: 20px 35px;
  margin-right: 4px;
  margin-bottom: 4px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  font-family: Raleway, Arial, sans-serif;
  font-size: 13px;
  font-weight: 600;
}

.button-github,
.button-youtube,
.button-tiktok,
.button-dis {
  transition: 0.9s;
  border: 2px solid #623988;
}

.button-dis:hover,
.button-dis:active,
.button-dis:focus,
.button-tiktok:hover,
.button-tiktok:active,
.button-tiktok:focus,
.button-github:hover,
.button-github:active,
.button-github:focus,
.button-youtube:hover,
.button-youtube:active,
.button-youtube:focus {
  outline: none;
  -webkit-box-shadow: inset 0px 0px 15px 0px #623988,
    0px 0px 15px 0px #623988;
  -moz-box-shadow: inset 0px 0px 15px 0px #623988, 0px 0px 15px 0px #623988;
  box-shadow: inset 0px 0px 15px 0px #623988, 0px 0px 15px 0px #623988;
}

.manager {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  height: 40px;
  top: 80%;
  font-size: 20px;
  font-family: Raleway, Arial, sans-serif;
  text-align: center;
  font-weight: 400;
}

.manager img {
  vertical-align: middle;
}

.manager a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}

.disinfo {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  height: 40px;
  top: 90%;
  font-size: 20px;
  font-family: Raleway, Arial, sans-serif;
  text-align: center;
  font-weight: 400;
}

.disinfo img {
  vertical-align: middle;
}




@media screen and (max-width: 1144px) {
  .displayrow {
    width: 444px;
  }

  .row {
    height: 800px;
  }

  .image,
  .info {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    height: 300px;
    width: 300px;
  }

  .info {
    padding-left: 30px;
    padding-right: 30px;
  }

  h1 {
    padding-left: 0px;
    font-family: Raleway, Arial, sans-serif;
    font-size: 60px;
    color: #ffffff;
    text-align: center;
    font-weight: 300;
  }

  p {
    margin: 0, 0, 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .button {
    display: block;
  }
}
